node_modules
dist
.vite
.DS_Store
.env
.env.*
.git
.gitignore
tmp
logs
**/TestResults
**/*.tsbuildinfo
**/bin
**/obj
**/.DS_Store
src/frontend/node_modules
src/frontend/dist
src/frontend/.vite
src/backend/bin
src/backend/obj
